<footer class="block block--dark footer">
    <div class="grid container footer__sections">
      <section class="collapsible footer__section">
        <header class="collapsible__header">
          <h3 class="collapsible__heading">Prouducts</h3>
          <img
            src="images/chevron.svg"
            class="icon icon--white collapsible__chevron"
          />
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">Website Hosting</a></li>
            <li><a href="#">Free Automated Wordpress</a></li>
            <li><a href="#">Migrations</a></li>
          </ul>
        </div>
      </section>
      <section class="collapsible footer__section">
        <header class="collapsible__header">
          <h3 class="collapsible__heading">Company</h3>
          <img
            src="images/chevron.svg"
            class="icon icon--white collapsible__chevron"
          />
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">About</a></li>
            <li><a href="#">Affiliates</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
      </section>
      <section class="collapsible footer__section">
        <header class="collapsible__header">
          <h3 class="collapsible__heading">Support</h3>
          <img
            src="images/chevron.svg"
            class="icon icon--white collapsible__chevron"
          />
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">Contact</a></li>
            <li><a href="#">Knowledge Base</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
      </section>
      <section class="collapsible footer__section">
        <header class="collapsible__header">
          <h3 class="collapsible__heading">Domains</h3>
          <img
            src="images/chevron.svg"
            class="icon icon--white collapsible__chevron"
          />
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">Domain Checker</a></li>
            <li><a href="#">Domain Transfer</a></li>
            <li><a href="#">Free Domain</a></li>
          </ul>
        </div>
      </section>
      <section class="footer__image">
        <img src="images/logo.svg" alt="" />
        <p class="footer__copyright">Copyright 2024</p>
      </section>
    </div>
  </footer>